{% load static %}

<!-- About Section Start -->
<div id="about" class="section-padding">
    <div class="container">
        <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="about block text-center">
            <img src="{% static 'project/img/about/res1.png' %}" alt="">
            <h5><a href="#">Kaliteli Hizmet</a></h5>
            <p>Yılların verdiği tecrübe ile; değerli hukuk camiasına en kaliteli hizmeti sunuyoruz.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="about block text-center">
            <img src="{% static 'project/img/about/res2.png' %}" alt="">
            <h5><a href="#">Zamanında Teslim</a></h5>
            <p>Verdiğimiz sözlerden ödğn vermiyor; projelerimizi tam zamanında teslim ediyoruz.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="about block text-center">
            <img src="{% static 'project/img/about/res3.png' %}" alt="">
            <h5><a href="#">Güvenilir Hizmet</a></h5>
            <p>Proje süreci ve teslim sonrasında; destek için yalnızca bir telefon kadar uzağınızdayız.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="about block text-center">
            <img src="{% static 'project/img/about/res4.png' %}" alt="">
            <h5><a href="#">Dijital Dünyaya Açılın</a></h5>
            <p>AvukatLy ile çağımızın gerekliliği olan dijitalleşmeden geri kalmayın.</p>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- About Section End -->