{% load static %}

<!-- Portfolio Section -->
<section id="portfolio" class="section-padding">
        <!-- Container Starts -->
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Yaptıklarımız</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <!-- Portfolio Controller/Buttons -->
              <div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">
                <a class="filter active btn btn-common" data-filter="all">
                  Hepsi
                </a>
                <a class="filter btn btn-common" data-filter=".branding">
                  Web Sitesi
                </a>
                <a class="filter btn btn-common" data-filter=".marketing">
                  Kurumsal Kimlik
                </a>
                <a class="filter btn btn-common" data-filter=".planning">
                  SMS Paketi
                </a>
                <a class="filter btn btn-common" data-filter=".research">
                  Sosyal Medya Yönetimi 
                </a>
              </div>
              <!-- Portfolio Controller/Buttons Ends-->
            </div>
  
            <!-- Portfolio Recent Projects -->
            <div id="portfolio" class="row wow fadeInUpQuick" data-wow-delay="0.8s">
              <div class="col-lg-4 col-md-6 col-xs-12 mix branding">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{% static 'project/img/portfolio/port1.jpg' %}" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>Avukat Web Sitesi</h4>
                          </a>
                          <p class="sup-description">Bu web sitesi saygıdeğer avukatlarımızdan Av. Melih Var için yapılmıştır.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-xs-12 mix branding">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{% static 'project/img/portfolio/port5.jpg' %}" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>Avukat Web Sitesi</h4>
                          </a>
                          <p class="sup-description">Bu web sitesi saygıdeğer avukatlarımızdan Av. Oğuzhan Güzel için yapılmıştır.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-xs-12 mix research">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{% static 'project/img/portfolio/port2.jpg' %}" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>Avukat Sosyal Medya Yönetimi</h4>
                          </a>
                          <p class="sup-description">Saygıdeğer Avukatlarımızdan Av. Umut Yılmaz'ın sosyal medya hesaplarının yönetimi yapılmıştır.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-xs-12 mix marketing">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{% static 'project/img/portfolio/port4.jpg' %}" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>Kurumsal Kimlik Çalışması</h4>
                          </a>
                          <p class="sup-description">Yer alan kurumsal kimlik çalışması Av. Ali Yılmaz adına yapılmıştır.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-xs-12 mix planning">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{% static 'project/img/portfolio/port3.jpg' %}" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>SMS Paketi</h4>
                          </a>
                          <p class="sup-description">Burada sağlanan SMS Paketinin Web siteniz üzerinden yönetiminin ne kadar kolay olduğunu görüyorsunuz.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-xs-12 mix marketting">
                <div class="portfolio-item">
                  <div class="portfolio-img">
                    <img src="{% static 'project/img/portfolio/port6.jpg' %}" alt="" />
                  </div>
                  <div class="portfoli-content">
                    <div class="sup-desc-wrap">
                      <div class="sup-desc-inner">
                        <div class="sup-link">
                          <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                          <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                        </div>
                        <div class="sup-meta-wrap">
                          <a class="sup-title" href="#">
                            <h4>Kurumsal Kimlik Çalışması</h4>
                          </a>
                          <p class="sup-description">Burada avukatımız için yapılan kurumsal kimlik çalışmasının ne kadar modern çizgilere sahip olduğunu görüyorsunuz.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Container Ends -->
      </section>
      <!-- Portfolio Section Ends -->