{% load static %}

<!-- Services Section Start -->
<section id="services" class="section-padding">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Hizmetlerimiz</h2>
        </div>
        </div>
        <div class="row">
        <!-- Start Service Icon 1 -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="service-box">
            <div class="service-icon">
                <i class="fa fa-cogs"></i>
            </div>
            <div class="service-content">
                <h4><a href="#">Kurumsal Web Sitesi</a></h4>
                <p>
                Bir avukatın tanıtım, mesleki makale, e-tahsilat vb. tüm ihtiyaçlarına yanıt verecek şekilde tasarlanmış web sitesi.
                </p>
            </div>
            </div>
        </div>
        <!-- End Service Icon 1 -->

        <!-- Start Service Icon 2 -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="service-box">
            <div class="service-icon">
                <i class="fa fa-cubes"></i>
            </div>
            <div class="service-content">
                <h4><a href="#">Kurumsal Kimlik</a></h4>
                <p>
                Bir avukatın kendini müvekkillerine açtığı detaylar bütününü size sunuyoruz. ( Kartvizit, logo ve istenildiği takdirde broşür tasarımı )
                </p>
            </div>
            </div>
        </div>
        <!-- End Service Icon 2 -->

        <!-- Start Service Icon 3 -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="service-box">
            <div class="service-icon">
                <i class="fa fa-print"></i>
            </div>
            <div class="service-content">
                <h4><a href="#">Dijital Baskı Hizmeti</a></h4>
                <p>
                Tasarladığımız kurumsal kimliğinizin içerisindeki kartvizit, broşür vb. ürünleri paketimizin içerisinde size sunuyoruz.
                </p>
            </div>
            </div>
        </div>
        <!-- End Service Icon 3 -->

        <!-- Start Service Icon 4 -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="service-box">
            <div class="service-icon">
                <i class="fa fa-phone"></i>
            </div>
            <div class="service-content">
                <h4><a href="#">Sabit Telefon Hattı</a></h4>
                <p>
                0216/0850'li hattınızı alıyor veya sahipseniz bunu istediğiniz takdirde cep telefonunuza yönlendiriyor ve web sitenizin yönetim paneli üzerinden kimlerin sizi aradığını takip etmenizi sağlıyoruz.
                </p>
            </div>
            </div>
        </div>
        <!-- End Service Icon 4 -->

        <!-- Start Service Icon 5 -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="service-box">
            <div class="service-icon">
                <i class="fa fa-facebook-square"></i>
            </div>
            <div class="service-content">
                <h4><a href="#">Sosyal Medya Yönetimi</a></h4>
                <p>
                Dijital dünyadaki yüzünüzü oluşturan en önemli ögelerden olan sosyal medya hesaplarınızın profesyonel yönetimini yapıyoruz.
                </p>
            </div>
            </div>
        </div>
        <!-- End Service Icon 5 -->
        
        <!-- Start Service Icon 6 -->
        <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="service-box">
            <div class="service-icon">
                <i class="fa fa-envelope-open"></i>
            </div>
            <div class="service-content">
                <h4><a href="#">SMS Paketi</a></h4>
                <p>
                Müvekkillerinize özel günlerde otomatik SMS paketi ile kendinizi hatırlatabilirsiniz. İsterseniz, web siteniz üzerinden kendiniz özel olarak SMS de oluşturabilirsiniz.
                </p>
            </div>
            </div>
        </div>
        <!-- End Service Icon 6 -->
        </div>
    </div>
    </section>
    <!-- Services Section End -->